<div class="formContainer">
  <form [formGroup]='tF' (ngSubmit)="sendData()" class="needs-validation" novalidate>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre del taller:</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="monitor" class="form-label">Monitor:</label>
        <input type="text" id="monitor" formControlName="monitor" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="hora_inicio" class="form-label">Hora de inicio:</label>
        <input type="time" id="hora_inicio" formControlName="hora_inicio" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="hora_fin" class="form-label">Hora de fin:</label>
        <input type="time" id="hora_fin" formControlName="hora_fin" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="plazas" class="form-label">Plazas:</label>
        <input type="number" id="plazas" formControlName="plazas" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="dias" class="form-label">Días:</label>
        <div id="dias" class="form-check d-flex flex-wrap">
          <div class="col-6">
            <label class="form-check-label">
              <input type="checkbox" formControlName="Lunes" class="form-check-input"> Lunes
            </label>
          </div>
          <div class="col-6">
            <label class="form-check-label">
              <input type="checkbox" formControlName="Martes" class="form-check-input"> Martes
            </label>
          </div>
          <div class="col-6">
            <label class="form-check-label">
              <input type="checkbox" formControlName="Miercoles" class="form-check-input"> Miércoles
            </label>
          </div>
          <div class="col-6">
            <label class="form-check-label">
              <input type="checkbox" formControlName="Jueves" class="form-check-input"> Jueves
            </label>
          </div>
          <div class="col-6">
            <label class="form-check-label">
              <input type="checkbox" formControlName="Viernes" class="form-check-input"> Viernes
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">{{ taller ? 'Actualizar' : 'Añadir' }}</button>
    </div>
  </form>
</div>

<h3>Inscribir Socio</h3>
<form [formGroup]="inscribir" (ngSubmit)="inscribirSocio()" class="needs-validation" novalidate>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="n_socio" class="form-label">Número de Socio:</label>
      <input type="number" id="n_socio" formControlName="n_socio" class="form-control" required>
    </div>
    <div class="col-md-6 d-grid, btn-inscribir">
      <button type="submit" class="btn btn-primary">Inscribir</button>
    </div>
  </div>
</form>

<h3>Socios</h3>
@if (socios$ | async; as response) {
  @if (response?.results?.length > 0) {
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Fecha de inscripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of response.results; track trackByAttributes) {
          <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellidos }}</td>
            <td>{{ item.fecha }}</td>
            <td>
              <button class="btn btn-dark btn-sm" (click)="quitarSocio(item.nombre, item.apellidos)">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- Pagination controls -->
    <div class="pagination-controls">
      <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">←</button>
      <input type="number" value="{{currentPage}}" class="page-input" readonly>
      <button class="btn btn-secondary" (click)="nextPage()" [disabled]="!hasNextPage">→</button>
    </div>
  } @else {
    <p>No hay usuarios inscritos en este taller.</p>
  }
} @else {
  <p>Cargando socios...</p>
}