<div class="container-fluid">
  <header>
    <h1>AlfCos</h1>
    @if(isloged()){
      <nav>
          <button class="lead" (click)="navigateTo('/socios')">Socios</button>
          <button class="lead" (click)="getUser()">Usuarios</button>
          <button class="lead" (click)="navigateTo('/talleres')">Talleres</button>
          <button class="lead" (click)="navigateTo('/eventos')">Eventos</button>
          <button class="lead" (click)="navigateTo('/cuentas')">Cuentas</button>
      </nav>
    }
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <h3>AlfCos</h3>
    <p></p>
    <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
  </footer>
</div>
