@if (eventoList$ | async; as response) {
    <table>
        <thead>
            <tr>
               <th>nombre</th> 
               <th>precio</th> 
               <th>fecha</th> 
               <th>plazas libres</th> 
               <th>tipo</th> 
               <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        @for(item of response.results; track item.id_evento) {
        <tr> 
            <td>{{item.nombre}}</td>
            <td>{{item.precio}}</td>
            <td>{{item.fecha_ini}} - {{item.fecha_fin}}</td>
            <td>{{item.plazasLibres}}</td>
            <td>{{item.tipo}}</td>
            <td>
                <button class="btn btn-info btn-sm" (click)="getEvento(item.id_evento)">Seleccionar</button><br>
                <button class="btn btn-dark btn-sm mt-1" (click)="deleteEvento(item.id_evento)">Eliminar</button>
            </td>
        </tr>
        }
        </tbody>
    </table>

    <!-- Pagination controls -->
    <div class="pagination-controls">
        <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">←</button>
        <input type="number" value="{{currentPage}}" class="page-input" readonly>
        <button class="btn btn-secondary" (click)="nextPage()" [disabled]="!hasNextPage">→</button>
    </div><br>

    <button class="btn btn-success" (click)="addSocio()">Añadir Evento</button>
}
@if(errorMessage) {
    <app-error-message [errorMessage]="errorMessage"/>
}