@if (eventoList$ | async; as list) {
    <table>
        <thead>
            <tr>
               <th>nombre</th> 
               <th>precio</th> 
               <th>fecha</th> 
               <th>plazas libres</th> 
               <th>tipo</th> 
               <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        @for(item of list; track item.id_evento) {
        <tr> 
            <td>{{item.nombre}}</td>
            <td>{{item.precio}}</td>
            <td>{{item.fecha_ini}} - {{item.fecha_fin}}</td>
            <td>{{item.plazasLibres}}</td>
            <td>{{item.tipo}}</td>
            <td>
                <button (click)="getEvento(item.id_evento)">Seleccionar</button><br>
                <button (click)="deleteEvento(item.id_evento)">Eliminar</button>
            </td>
        </tr>
        }
        </tbody>
    </table><br>

    <button (click)="addSocio()">Añadir Socio</button>
}
@if(errorMessage) {
    <app-error-message [errorMessage]="errorMessage"/>
}