<div class="formContainer">
  <form [formGroup]='eF' (ngSubmit)="sendData()" class="needs-validation" novalidate>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre del evento:</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="n_asientos" class="form-label">Número de asientos:</label>
        <input type="number" id="n_asientos" formControlName="n_asientos" min="1" class="form-control">
      </div>
      <div class="col-md-4">
        <label for="num_grupos" class="form-label">Número de grupos:</label>
        <input type="number" id="num_grupos" formControlName="num_grupos" min="1" class="form-control">
      </div>
      <div class="col-md-4">
        <label for="precio" class="form-label">Precio del evento:</label>
        <input type="number" id="precio" formControlName="precio" step="0.01" min="0.01" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="fecha_ini" class="form-label">Fecha de inicio:</label>
        <input type="date" id="fecha_ini" formControlName="fecha_ini" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="fecha_fin" class="form-label">Fecha de fin:</label>
        <input type="date" id="fecha_fin" formControlName="fecha_fin" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label for="tipo" class="form-label">Tipo de evento:</label>
        <select id="tipo" formControlName="tipo_id" class="form-select">
          <option value="3">Viaje</option>
          <option value="2">Comida</option>
          <option value="1">Otro</option>
        </select>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" *ngIf="evento" (click)="updateEvento()" class="btn btn-primary">Actualizar</button>
      <button type="submit" *ngIf="!evento" (click)="addEvento()" class="btn btn-primary">Añadir</button>
    </div>
  </form>
</div>

<h3>Asientos relacionados</h3>
@if (asientos$ | async; as asientos) {
  @if (asientos.length > 0) {
    <table>
      <thead>
        <tr>
          <th>Número de asiento</th>
          <th>Fecha</th>
          <th>Grupo</th>
          <th>Socio</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        @for (asiento of asientos; track trackByAttributes) {
          <tr>
            <td>{{ asiento.n_asiento }}</td>
            <td>{{ asiento.fecha }}</td>
            <td>{{ asiento.n_grupo }}</td>
            <td>{{ asiento.n_socio || 'N/A' }}</td>
            <td>
              <button *ngIf="asiento.n_socio !== null" (click)="vaciarAsiento(asiento.n_grupo, asiento.n_asiento)" class="btn btn-dark btn-sm">
                Vaciar
              </button>
              <button *ngIf="asiento.n_socio === null" (click)="asignarAsiento(asiento.n_grupo, asiento.n_asiento)" class="btn btn-success btn-sm">
                Asignar
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>No hay asientos relacionados.</p>
  }
}

<h3>Agregar a la lista de espera</h3>
<form [formGroup]='listaF' (ngSubmit)="agregarListaEspera()">
  <label for="n_socio">Número de socio:</label>
  <input type="number" id="n_socio" formControlName="n_socio" name="n_socio" required>
  <button type="submit" class="btn btn-primary btn-sm">Agregar</button>
</form>

<h3>Lista de espera</h3>
@if (listaEspera$ | async; as listaEspera) {
  @if (listaEspera.length > 0) {
    <table>
      <thead>
        <tr>
          <th>Socio</th>
          <th>Fecha de inscripción</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        @for (item of listaEspera; track trackByAttributes) {
          <tr>
            <td>{{ item.socio }}</td>
            <td>{{ item.fecha_inscripcion }}</td>
            <td>
              <button (click)="eliminarDeListaEspera(item.n_socio)" class="btn btn-dark btn-sm">
                Eliminar
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>No hay usuarios en la lista de espera.</p>
  }
}
