@if (socioList$ | async; as response) {
    <table>
        <thead>
            <tr>
               <th>dni</th> 
               <th>nombre</th> 
               <th>apellidos</th> 
               <th>pagado</th> 
               <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        @for(item of response.results; track item.dni) {
        <tr> 
            <td>{{item.dni}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.apellido}}</td>
            <td>{{item.pagado}}</td>
            <td>
                <button class="btn btn-info btn-sm" (click)="getSocio(item.n_socio)">Seleccionar</button><br>
                <button class="btn btn-dark btn-sm mt-1" (click)="deleteSocio(item.n_socio)">Eliminar</button>
            </td>
        </tr>
        }
        </tbody>
    </table>

    <!-- Pagination controls -->
    <div class="pagination-controls">
        <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">←</button>
        <input type="number" value="{{currentPage}}" class="page-input" readonly>
        <button class="btn btn-secondary" (click)="nextPage()" [disabled]="!hasNextPage">→</button>
    </div><br>

    <button class="btn btn-success" (click)="addSocio()">Añadir Socio</button>
}
@if(errorMessage) {
    <app-error-message [errorMessage]="errorMessage"/>
}