@if(this.isloged()){
    @if(userList$ | async; as list){
        <table>
            <thead>
                <tr>
                    <th>Nombre Usuario</th>
                    <th>Rol</th>
                    <th>DNI/NIE</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(item of list; track item.n_socio){
                <tr> 
                    <td>{{item.nombre}}</td>
                    <td>{{item.rol}}</td>
                    <td>{{item.n_socio}}</td>
                    <td>
                        @if(item.rol != "admin"){
                            <button (click)="delete(item.n_socio)">Eliminar</button>
                        }
                        <button (click)="getUser(item.n_socio)">Seleccionar</button></td>
                    </tr>
                }
                </tbody>
        </table>
        <button (click)="addUser()">Añadir Usuario</button>
    }
    @if(errorMessage) {
        <app-error-message [errorMessage]="errorMessage"/>
    }
}
